input[type="email"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

/* Style the form */
.contact-form {
    width: 700px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: left;
}

@media (max-width: 768px) {
    .contact-form {
        width: 400px;
    }

    .contact-form label {
        width: auto;
        text-align: left;
        margin-right: 0;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: calc(100% - 20px);
        /* Adjusted to fit smaller screen size */
    }
}