
.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 10% 20% 60%;
    /* grid-auto-rows: 1fr;  */
    grid-template-rows: 300px 600px 1200px;
    grid-gap: 10px;
    margin: auto; /* Center the grid */
    height: 100%; /* Ensure grid container takes full height of its parent */
}

.grid-item {
    /* width: 500px;
    height: 500px; */
    background-color: lightgrey; /* Optionally, set a background color for grid items */
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Hide overflow content */
    box-sizing: border-box; /* Ensure padding doesn't affect the size of grid items */
    display: flex; /* Make grid items flex containers */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
}
  
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* 1 column for screens <= 768px */
    }
    .grid-item {
        width: 500px;
    }
    
}