body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.search-box {
    display: flex;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    background-color: #333;
    /* Consistent color */
}

.content {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
}

aside {
    /* width: 20%; */
    background-color: #f2f2f2;
    float: right;
    padding: 20px;
}
.aside {
    width: 200px; /* Adjust the percentage as needed */
}
.main-content {
    /* width: 80%; */
    flex: 1;
}
.menu-toggle {
    display: none;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 10% 20% 60%;
    /* grid-auto-rows: 1fr;  */
    grid-template-rows: 300px 600px 1200px;
    grid-gap: 10px;
    margin: auto; /* Center the grid */
    height: 100%; /* Ensure grid container takes full height of its parent */
}

.grid-item {
    /* width: 500px;
    height: 500px; */
    background-color: lightgrey; /* Optionally, set a background color for grid items */
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Hide overflow content */
    box-sizing: border-box; /* Ensure padding doesn't affect the size of grid items */
    display: flex; /* Make grid items flex containers */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
}
  
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #333;
        color: #fff;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    li {
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    /* Search box styles */
    .search-box {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }

    .search-box input[type="text"] {
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-box button {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
        cursor: pointer;
    }
    aside {
        display: none; /* Hide the aside */
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* 1 column for screens <= 768px */
    }
    .grid-item {
        width: 500px;
    }
    nav ul {
        display: none; /* Hide the navigation list by default on small screens */
    }
    nav ul.show {
        display: block; /* Show the navigation list when the show class is applied */
    }
    .menu-toggle {
        display: flex; /* Display the menu toggle on smaller screens */
        flex-direction: column; /* Arrange the lines in a column */
        justify-content: center; /* Align items vertically to the center */
        align-items: center; /* Align items horizontally to the center */
        cursor: pointer; /* Add cursor pointer for better UX */
        position: absolute; /* Position the toggle button */
        top: 10px; /* Adjust the top position as needed */
        right: 30px; /* Adjust the right position as needed */
        z-index: 999; /* Ensure the toggle button is above other content */
    }

    .menu-toggle span {
        background-color: red; /* Color of the lines in the hamburger icon */
        display: block;
        height: 3px; /* Height of each line */
        margin-bottom: 5px; /* Spacing between lines */
        transition: transform 0.3s ease; /* Add transition effect */
        width: 25px; /* Width of each line */
    }
}